<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         cacheResult="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage
        processUncoveredFiles="true"
        ignoreDeprecatedCodeUnits="true"
        cacheDirectory="./tests/data/coverageCache"
    >
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <file>./app/Macros/EmployeeMenu.macro.php</file>
        </exclude>
    </coverage>
    <php>
        <server name="APP_APP_TIMEZONE" value="Europe/Moscow" force="true" />
        <server name="APP_APP_ENV" value="testing" force="true"/>
        <server name="DB_CONNECTION" value="mysql" force="true"/>
        <server name="DB_HOST" value="db" force="true"/>
        <server name="DB_DATABASE" value="sellmo" force="true"/>
        <server name="DB_USERNAME" value="sellmo" force="true"/>
        <server name="DB_PASSWORD" value="password" force="true"/>
<!--        <server name="DB_DATABASE" value="sellmo" force="true"/>-->
<!--        <env name="APP_ENV" value="testing"/>-->
<!--        <env name="BCRYPT_ROUNDS" value="4"/>-->
<!--        <env name="CACHE_DRIVER" value="array"/>-->
<!--        <env name="DB_HOST" value="mysql"/>-->
<!--        <env name="DB_DATABASE" value="sellmo"/>-->
<!--        <env name="MAIL_MAILER" value="array"/>-->
<!--        <env name="QUEUE_CONNECTION" value="sync"/>-->
<!--        <env name="SESSION_DRIVER" value="array"/>-->
<!--        <env name="TELESCOPE_ENABLED" value="false"/>-->
    </php>
</phpunit>
